.hamburger-react{
    z-index: 1;
}

.menu{
    display: flex;
    position: relative;
    padding: 5px 16px;
    &--open{
        position: fixed;
        top: 58px;
        left: 0px;
        width: 250px;
        height: 100%;
        background-color: $secondary-bg;
        border: 2px solid $tertiary-bg;
        border-top: 2px solid $secondary-bg;;
        opacity: .9;
    }
}