@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.profile{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    margin: auto;
    margin-top: 20px;
    font-family: 'Share Tech Mono', monospace;
    color: $tertiary;
    font-weight: $medium;
    width: 100%;
    max-width: 500px;
    height: fit-content;
    border-radius: 10px;
    border: 2px solid $primary;
    box-shadow: 0 0 5px #000,
            0 0 2px $tertiary,
            0 0 10px lighten(#000, 30%),
            0 0 18px lighten(#000, 20%),
            inset 0 0 2px $tertiary; 
    padding: 20px;
    background-color: $primary-bg+f5;
    opacity: 0;
    animation: fadeIn 3s 3s forwards;
    @include mq(tablet){
        margin-top: 60px;
    }
    @include mq(laptop){
        margin-top: 140px;
    }
    @include mq(desktop){
        margin-top: 230px;
    }
    &__title{
        font-size: 22px;
        width: 100%;
        @include mq(tablet){
            font-size: 24px;
        }
    }
    &__description{
        font-weight: $regular;
        margin-top: 5px;
        width: 100%;
    }
    &__content{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        max-height: 160px;
        @include mq(tablet){
            max-width: 230px;
            margin-right: 30px;
        }
        h3{
            margin: 15px 0px;
        }
    }
    &__section{
        display: flex;
        float: right;
        li{
            min-width: 80px;
            margin-bottom: 5px;
            font-weight: $light;
            a{
                margin-right: 6px;
            }
        }
        &-row{
            flex-direction: row;
        }  
        &-column{
            flex-direction: column;
            li{
                margin-bottom: 8px;
                list-style-type: circle;
            }
        }
    }
    .extend{
        margin-top: 15px;
        width: 100%;
    }
    .links{
        position: relative;
        justify-content: flex-end;
        text-align: end;
        margin-top: 12px;
        width: 100%;
            @include mq(tablet){
                position: absolute;
                top:13px;
                right: 25px;
            }
        }
}