.home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .boxes{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        gap:22px;
        .leftBox{
            display: flex;
            flex-direction: column;
            width: 500px;
            border: .5px solid $tertiary-bg;
            border-radius: 13px;
            padding: 10px 20px;
            height: min-content;
        }

        .rightBox{
            display: flex;
            flex-direction: column;
            padding: 10px 0px;
            width: 100%;
        }   
    }
    
}