.home{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    .leftBox{
        display: flex;
        flex-direction: column;
        width: 30%;
        border: .5px solid $tertiary-bg;
        border-radius: 13px;
        padding: 10px 20px;
        margin: 20px 10px;
        height: min-content;
    }

    .rightBox{
        display: flex;
        flex-direction: column;
        padding: 30px 20px;
        width: 60%;
    }
}