#tsparticles{
    width: 0px !important;
    height: 0px !important;
    canvas{
        position: fixed;
        z-index: -2;
        min-width: 1500px;
        min-height: 800px;
            opacity: 0;
            animation: fadein 5s 3s infinite;
            -moz-animation: fadein 5s 3s infinite; /* Firefox */
            -webkit-animation: fadein 5s 3s  forwards; /* Safari et Chrome */
            -o-animation: fadein 5s 3s infinite; /* Opera */
            display: inherit;
    }
}