#tsparticles{
    width: 0px !important;
    height: 0px !important;
    canvas{
        position: fixed;
        z-index: -2;
        min-width: 900px;
        min-height: 800px;
            opacity: 0;
            animation: fadein 5s infinite;
            -moz-animation: fadein 5s infinite; /* Firefox */
            -webkit-animation: fadein 5s 1s  forwards; /* Safari et Chrome */
            -o-animation: fadein 5s infinite; /* Opera */
            display: inherit;
    }
    @keyframes fadein {
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-moz-keyframes fadein { /* sur Firefox */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-webkit-keyframes fadein { /* sur Safari et Chrome */
        from {
            opacity:0;
        }
        to {
            opacity:1;
        }
    }
    @-o-keyframes fadein { /* sur Opera */
        from {
            opacity:0;
        }
        to {
            opacity: 1;
        }
    }
}