.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: $secondary-bg;
    border-bottom: 2px solid $tertiary-bg;
    position: fixed;
    z-index: 999;
    &__title{
        height: 58px;
        width: 100%;
        position: absolute;
        display: flex;
        h1{
            font-size: 22px;
            font-family: 'Bungee Hairline', cursive;
            text-align: center;
            width: 100%;
            align-self: center;
            @include mq(tablet){
                font-size: 30px;
            }
            @include mq(laptop){
                font-size: 32px;
            }
        }
        
    }
}