.header{
    width: 100%;
    height: fit-content;
    background-color: $secondary-bg;
    border-bottom: 2px solid $tertiary-bg;
    position: fixed;
    &__title{
        position: relative;
        width: 100%;
        h1{
            font-size: 22px;
            font-family: 'Bungee Hairline', cursive;
            position: absolute;
            top: 3px;
            left: 12px;
            width: 100%;
            text-align: center;
            @include mq(tablet){
                font-size: 30px;
                top: -6px;
                left: 0px;
            }
            @include mq(laptop){
                font-size: 32px;
                top: -8px;
            }
        }
        
    }
}