@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.error404{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0;
    animation: fadeIn 3s 1s forwards;
    display: inherit;
    &__description{
        position: absolute;
        bottom: 15%;
        text-align: center;
        width: 100%;
        font-size: 28px;
        padding: 0px 20px;
    }
    .error-3d{
        padding: 200px 0px;
        @include mq(tablet){
            padding: 0px 0px;
        }
    }
}